<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title: "profile"
    }) %>
<body>
    <div class="container"> <!-- Contenedor ppal -->
    <%- include('./partials/header') %>
</div>
</body>
</html>